<div class="panel panel-default">
    <div class="panel-heading">
    メッセージ一覧
    </div>
    
    <div class="panel-body">
        <% @messages.each do |message| %>
            <span class="label label-info"><%= message.name %></span>
            <%= message.body %>
            <br>
        <% end %>
    </div>
</div>

<%= form_for(Message.new, html: {class: "form-horizontal"}) do |f| %>
    <label for="message-name" class="col-sm-1 control-label">名前：</label>
    <div class="col-sm-11">
        <%= f.text_field :name, class: "form-control", placeholder: "田中太郎" %>
    </div>
    <label for="message-text" class="col-sm-1 control-label" style="margin-top: 5px">内容：</label>
    <div class="col-sm-11">
    <%= f.text_area :body, class: "form-control", style: "margin-top: 5px",  placeholder: "投稿内容を入力してください", rows: "10" %>
    </div>
    <%= f.submit class: "btn btn-lg btn-block active" %>
<% end %>